* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.no-scroll {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-light-s: #fafafa;
    --color-light-l: #F6F6F6;
    --color-light-xl: #FFFFFF;
    --color-primery: #F1CDB3;
    --color-primery-light: #FDDCC4;
    --color-dark-s: #cdcdcd;
    --color-dark-l: #545454;
    --color-dark-3xl: #292929;
}

h1,
h2,
h3,
h4 {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
}

p {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.blackout {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.blackout.active {
    z-index: 1;
}

/* //// DROP-DOWN_MENU ///// */


.drop-down_menu {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: var(--color-dark-3xl);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

@media (max-width:767px) {
    .drop-down_menu.active {
        width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.drop-down {
    display: none;
    width: 243px;
    height: 327px;
    list-style-type: none;
}

.drop-down.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.drop-down a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: var(--color-dark-s);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.drop-down a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-primery);
    outline: none;
}

/* ////////////////////////////
HEADER
////////////////////////// */

header {
    height: 120px;
    background-color: var(--color-light-xl);
    padding-top: 30px;
}

.header_cont {
    height: 60px;
    max-width: 1200px;
    width: 93.75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width:1200px) {
    .header_cont {
        width: 92.2%;
    }
}

@media (max-width:760px) {
    .header_cont {
        width: 87.5%;
    }
}

.logo,
.logo a {
    width: 184px;
    height: 100%;
}

.logo a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.054em;
    color: var(--color-dark-l);
    margin: 0;
    transition: 0.7s;
    -webkit-transition: color 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.logo p {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--color-dark-3xl);
    transition: 0.7s;
    -webkit-transition: color 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.logo a:hover h1 {
    color: var(--color-primery);
}

.logo a:hover p {
    color: var(--color-primery);
}

.logo a:active {
    text-decoration: underline;
    text-decoration-color: var(--color-primery);
    -moz-text-decoration-color: var(--color-primery);
}

.burger {
    display: none;
}


@media (max-width:767px) {
    .burger {
        position: relative;
        z-index: 10;
        margin-top: 19px;
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #000000;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    .burger.active {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .burger span.active {
        background-color: var(--color-primery);
    }
}

nav {
    width: 443px;
    height: 27px;
    margin-top: 16px;
}

@media (max-width:1200px) {
    nav {
        width: 62.6%;
        height: 27px;
        margin-top: 16px;
    }
}

@media (max-width:767px) {
    nav {
        display: none;
    }
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

nav ul a:not(.no_active) {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-l);
    text-decoration: none;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

nav ul a:not(.no_active):hover {
    color: var(--color-dark-3xl);
}

nav ul a:not(.no_active):active {
    color: var(--color-dark-3xl);
    border-bottom: 2px solid var(--color-primery);
}

.no_active {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-3xl);
    text-decoration: none;
    border-bottom: 2px solid var(--color-primery);
    pointer-events: none;
}

/* ////////////////////////////
OUR FRIENDS
////////////////////////// */

.our_friends {
    height: 1342px;
    background-color: var(--color-light-l);
    padding-top: 80px;
}

.our_friends_cont {
    width: 1200px;
    height: 1162px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1250px) {
    .our_friends {
        height: 1733px;
        padding-top: 60px;
    }

    .our_friends_cont {
        width: 92.2%;
        height: 1603px;
        margin: 0 auto;
        padding: 20px 0 0;
        justify-content: unset;
    }
}

@media (max-width:760px) {
    .our_friends {
        height: 1649px;
        padding-top: 42px;
    }

    .our_friends_cont {
        width: 93.75%;
        height: 1565px;
        padding: 0;
    }
}

h2 {
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    margin: 0;
}

@media (max-width:760px) {
    h2 {
        font-size: 25px;
        margin: 0;
    }
}

.slider {
    height: 930px;
    width: 100%;
    padding: 15px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 30px 40px;
}

.card {
    width: 270px;
    height: 435px;
    padding: 0 0 30px;
    background-color: var(--color-light-s);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

@media (max-width:1250px) {
    .slider {
        height: 1365px;
        width: 82%;
        padding: 0;
        margin: 30px 0 40px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 30px 40px;
    }

    .card:nth-child(7),
    .card:nth-child(8) {
        display: none;
    }
}

@media (max-width:760px) {
    .slider {
        height: 1365px;
        width: 270px;
        padding: 0;
        margin: 42px auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .card:nth-child(4),
    .card:nth-child(5),
    .card:nth-child(6),
    .card:nth-child(7),
    .card:nth-child(8) {
        display: none;
    }
}

.card:hover {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}


.card div {
    width: 100%;
    height: 270px;
}

.card1 {
    background-image: url(../img/pets-katrine.png);
}

.card2 {
    background-image: url(../img/pets-jennifer.png);
}

.card3 {
    background-image: url(../img/pets-woody.png);
}

.card4 {
    background-image: url(../img/pets-sophia.png);
}

.card5 {
    background-image: url(../img/pets-timmy.png);
}

.card6 {
    background-image: url(../img/pets-charly.png);
}

.card7 {
    background-image: url(../img/pets-scarlet.png);
}

.card8 {
    background-image: url(../img/pets-freddie.png);
}

.card h3 {
    color: var(--color-dark-l);
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.card button {
    width: 187px;
    height: 52px;
    background-color: var(--color-light-s);
    border: 2px solid var(--color-primery);
    color: var(--color-dark-3xl);
    padding: 13px 42px;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    transition: background-color 0.7s, border 0.7s;
    -webkit-transition: background-color 0.7s, border 0.7s;
    -moz-transition: background-color 0.7s, border 0.7s;
    -ms-transition: background-color 0.7s, border 0.7s;
    -o-transition: background-color 0.7s, border 0.7s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.card:hover button {
    border: 2px solid var(--color-primery-light);
    cursor: pointer;
    background-color: var(--color-primery-light);
}

.circle_buttons {
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.circle_buttons button {
    width: 52px;
    height: 52px;
    padding: 2px 5px;
    background-color: transparent;
    border-radius: 100px;
    transition: background-color 0.7s, border 0.7s;
    -webkit-transition: background-color 0.7s, border 0.7s;
    -moz-transition: background-color 0.7s, border 0.7s;
    -ms-transition: background-color 0.7s, border 0.7s;
    -o-transition: background-color 0.7s, border 0.7s;
}

@media (max-width:760px) {
    .circle_buttons {
        width: 300px;
    }
}

.circle_buttons button:first-child,
.circle_buttons button:nth-child(2) {
    border: 2px solid var(--color-dark-s);
    color: var(--color-dark-s);
}

.circle_buttons button:nth-child(3) {
    background-color: var(--color-primery);
    border: none;
    color: var(--color-dark-3xl);
}

.circle_buttons button:nth-child(4),
.circle_buttons button:last-child {
    border: 2px solid var(--color-primery);
    color: var(--color-dark-3xl);
}

.circle_buttons button:nth-child(3):hover {
    background-color: var(--color-primery-light);
    cursor: pointer;
}

.circle_buttons button:nth-child(4):hover,
.circle_buttons button:last-child:hover {
    cursor: pointer;
    background-color: var(--color-primery-light);
    border: 2px solid var(--color-primery-light);
}

.circle_buttons span {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
}

/*/////////////////
FOOTER
//////////////// */
footer {
    height: 350px;
    padding-top: 40px;
    background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer_container {
    width: 1200px;
    margin: 0 auto;
    height: 310px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width:1250px) {
    .footer_container {
        width: 95%;
    }
}

@media (max-width:1100px) {
    footer {
        height: 639px;
        padding: 30px 30px 0;
    }

    .footer_container {
        width: 92.2%;
        height: 609px;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 65px 60px;
    }
}

@media (max-width:767px) {
    footer {
        height: 809px;
        padding: 30px 0 0;
    }

    .footer_container {
        width: 93.75%;
        height: 779px;
        gap: 40px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}

.contacts,
.location {
    height: 234px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width:1200px) {

    .contacts,
    .location {
        margin-top: 0;
    }
}

.contacts {
    width: 278px;
}

.location {
    width: 302px;
}

@media (max-width:740px) {
    .contacts {
        height: 208px;
        align-items: center;
    }

    .location {
        width: 300px;
        height: 222px;
    }
}

.footer_container h3 {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.055em;
    color: var(--color-light-xl);
}

.footer_container h4 {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primery);
}

@media (max-width:740px) {
    .footer_container h3 {
        font-size: 25px;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .location h3 {
        margin-left: 6px;
    }
}

.email,
.phone,
.boston,
.london {
    height: 32px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.email>a,
.phone>a,
.boston>a,
.london>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.email a:hover,
.phone a:hover,
.boston a:hover,
.london a:hover {
    opacity: 0.5;
}

.boston {
    height: 46px;
}

.location img {
    height: 32px;
}

.footer_puppy {
    width: 300px;
    height: 310px;
    background-image: url(../img/footer-puppy.png);
}

@media (max-width:740px) {
    .footer_puppy {
        width: 260px;
        height: 269px;
        margin: auto;
        background-image: url(../img/footer-puppy320.png);
    }
}